.dial {
    width: 200px;
    height: 200px;
    border: 2px solid #000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .pointer {
        width: 0px;
        height: 90px;
        top: 10px;
        left: 50%;
        border-radius: 50%;
        position: absolute;
        transform-origin: 50% 100%;
        transform: rotate(0deg);
        transition-property: transform;

        &::before {
            content: '';
            width: 20px;
            height: 20px;
            background: red;
            border-radius: 50%;
            position: absolute;
            top: 0px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}